{% extends "layouts/base.html" %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card" style="max-width: 600px; width: 100%;">
        <!-- Display flash messages -->
        {% set messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <!-- Login form -->
        <div class="card-header">
            <h2 class="text-center">შესვლა</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="">
                {{ form.hidden_tag() }}

                <!-- Username or Email field -->
                <div class="mb-3">
                    {{ form.username.label(class="form-label") }}
                    {{ form.username(class="form-control", placeholder="შეიყვანეთ მომხმარებლის სახელი ") }}
                    {% if form.username.errors %}
                        <div class="text-danger mt-1">
                            {% for error in form.username.errors %}
                                <small>{{ error }}</small>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                
                <!-- Password field -->
                <div class="mb-3">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control", placeholder="შეიყვანეთ პაროლი") }}
                    {% if form.password.errors %}
                        <div class="text-danger mt-1">
                            {% for error in form.password.errors %}
                                <small>{{ error }}</small>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <!-- Submit button -->
                <div class="d-grid">
                    {{ form.submit(class="btn btn-primary btn-block") }}
                </div>
            </form>
        </div>
        <div class="card-footer text-center">
            <p>ჯერ არ ხართ რეგისტრირებული? <a href="{{ url_for('auth.register') }}">რეგისტრაცია</a></p>
        </div>
    </div>
</div>
{% endblock %}

