{% extends "layouts/base.html" %}
{% block body %}
<style>
    body {
    background-color: #f8f9fa;
}

form {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

form:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

h2 {
    margin-bottom: 20px;
    color: #343a40;
}

.btn-primary {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

</style>
<div class="row justify-content-center">
    <div class="col-md-6">
        <h2 class="text-center">შეამოწმე ელფოსტა</h2>
        <form method="POST" class="shadow p-4 rounded bg-light">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.email.label(class="font-weight-bold") }}
                {{ form.email(class="form-control", placeholder="შეიყვანეთ რეგისტრირებული ელფოსტა", size=32) }}
                {% for error in form.email.errors %}
                <small class="text-danger">{{ error }}</small>
                {% endfor %}
            </div>
            <div class="text-center">
                {{ form.submit(class="btn btn-primary btn-lg btn-block") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}
